<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>formulario</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <p class="central">formulario</p>
    <div class="central">
        <form action="/users/save" method="post" >
            <div class="central">
                <input type="text" name="name" placeholder="qual seu nome?">
            </div>
            <div class="central">
                <input type="submit" value="cadastrar">
            </div>
        </form>

    </div>
</body>
</html>